
@{
    ViewData["Title"] = "Acoustic Telemetry Array Platform";
}

<div class="row card-row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- Carousel wrapper -->
                <div id="carouselPhotos"
                     class="carousel slide carousel-fade"
                     data-mdb-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <!-- Inner -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-mdb-interval="2500">
                            <img src="~/Images/Acoustic telemetry_3.jpg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Acoustic telemetry_1.jpg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Acoustic telemetry_2.jpg" class="d-block w-100" alt="..." />
                        </div>
                    </div>
                    <!-- Inner -->
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    <b>@ViewBag.Title</b>
                    <img src="~/Images/NRF-SAIAB logo.jpg" class="img-fluid rounded float-right card-image" alt="SAIAB logo"/>
                </h4>
            </div>
            <div class="card-body">
                <p>
                    The Acoustic Telemetry Array Platform was developed by SAIAB and consists of over 100 in situ telemetry receiver stations along the coast from Cape Town to
                    Ponto De Ouro. The receivers are located in depths from 15 to 80 m. The platform manages the receiver network (receiver deployment and retrieval) and manages a
                    database of all detections. Collaborating partners tag species (> 30 different species) according to their research programmes and at present there are 573 known active
                    transmitters in the water, the majority of which are long-life transmitters (up to 3 650 days). Currently, the receiver network comprises 66 offshore stations (12 Vemco VR2W units on
                    Sub Sea Sonics acoustic releases, 15 VR2W units on diver-retrieved fixed moorings and 40 Vemco VR2AR receiver/release units) and 38 VR2W estuary stations. Although the ATAP
                    is a mature platform, the SMCRI will improve the coverage and facilitate the expansion of the research infrastructure up the West Coast. ATAP is also well positioned on the
                    international arena and continues to have strong ties with the Canadian-based Ocean Tracking Network (OTN) project.
                </p>

            </div>
        </div>
    </div>
</div>
