
@{
    ViewData["Title"] = "Airborne Remote Sensing Platform";
}

<div class="row card-row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- Carousel wrapper -->
                <div id="carouselPhotos"
                     class="carousel slide carousel-fade"
                     data-mdb-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <!-- Inner -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-mdb-interval="2500">
                            <img src="~/Images/Airborne Remote sensing_1.jpg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Airborne Remote Sensing_3.jpg" class="d-block w-100" alt="..." />
                        </div>
                    </div>
                    <!-- Inner -->
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    <b>@ViewBag.Title</b>
                    <img src="/Images/NRF-SAEON LOGO.jpg" class="img-fluid rounded float-right card-image" alt="SAEON logo"/>
                </h4>
            </div>
            <div class="card-body">
                <p>
                    The SMCRI has acquired a single engine, high wing light aircraft equipped with complex and integrated sensory equipment for the purposes of conducting
                    aerial surveys where accurate, georeferenced high definition (HD) imagery are required for scientific purposes. The aircraft is a Glasair Sportsman, a modern design from
                    the USA that offers exceptional performance capabilities for its class and is affordable to operate as it runs on automotive fuel (mogas) as opposed to aviation fuel (avgas). With
                    6 hours endurance and a cruise speed of 135 knots it allows for vast distances to be covered without refueling.
                </p>

            </div>
        </div>
    </div>
</div>
