
@{
    ViewData["Title"] = "Hyperbaric Chamber Platform";
}

<div class="row card-row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- Carousel wrapper -->
                <div id="carouselPhotos"
                     class="carousel slide carousel-fade"
                     data-mdb-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <!-- Inner -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-mdb-interval="2500">
                            <img src="~/Images/Decompression chamber.jpg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Decompression chamber_extra2.jpg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Hyperbaric_5.jpg" class="d-block w-100" alt="..." />
                        </div>
                    </div>
                    <!-- Inner -->
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    <b>@ViewBag.Title</b>
                    <img src="/Images/NRF-SAEON LOGO.jpg" class="img-fluid rounded float-right card-image" alt="SAEON logo"/>
                </h4>
            </div>
            <div class="card-body">
                <p>
                    SMCRI acquired a new fully functional Hyperbaric Chamber that has been installed at the Ocean Science Campus of the Nelson Mandela University in
                    Port Elizabeth.
                </p>
                <p>
                    Twelve 50L air-banks, configured (2 x 6) for redundancy and connected to a digitally programmed and fully automated highpressure (HP) compressor support the
                    chamber unit. The chamber comprises an entry lock (2-man sitting) and the larger main lock (8-man sitting or 2-man supine) for the purposes of getting medical personnel or
                    patient assistants into or out of the chamber whilst keeping the diver or occupants at constant uninterrupted pressure. Both locks are fitted with oxygen bibs which are fed
                    by their own separate oxygen supply with external exhausts. The chamber comes complete with internal cameras, lighting, two way communications, state of the art
                    gas analysers that constantly monitor O<sub>2</sub> and CO<sub>2</sub> accumulation as well as internal CO<sub>2</sub> scrubbing devices. It is also equipped with a pressurised medical hatch to transfer
                    medication or food to occupants under pressure without interruption.
                </p>
                <br />
                <p>
                    There has not been a functional hyperbaric chamber in the Eastern Cape for a number of years and the chamber will be operated as a 24 hr emergency facility available
                    to the entire diving community (scientific, commercial, search and rescue and recreational). The chamber will also be used for scientific diver training (Class V and IV)
                    by the two research diver training schools based at the Nelson Mandela University and the University of Cape Town.
                </p>
            </div>
        </div>
    </div>
</div>
