
@{
    ViewData["Title"] = "Science Engagement Platform";
}

<div class="row card-row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- Carousel wrapper -->
                <div id="carouselPhotos"
                     class="carousel slide carousel-fade"
                     data-mdb-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <!-- Inner -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-mdb-interval="2500">
                            <img src="~/Images/Science engagement_3.jpg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Science Engagement_1.jpg" class="d-block w-100" alt="..." />
                        </div>
                    </div>
                    <!-- Inner -->
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    <b>@ViewBag.Title</b>
                    <img src="/Images/NRF-SAEON LOGO.jpg" class="img-fluid rounded float-right card-image" alt="SAEON logo"/>
                </h4>
            </div>
            <div class="card-body">
                <p>
                    The Science Engagement Platform strives to bridge the gap between formal education and community development through awareness initiatives
                    such as job shadowing opportunities, Career Festivals, National Science Week, National Marine Week and Ocean Sciences Campus Tours activities. Educational outreach seeks
                    to expose and nurture grade 9, 10 and 11 learners to scientific activities to raise their awareness and enhance their scientific skills. The programme provides learner-teacher-
                    support workshops that provide them with an opportunity to engage in hands-on science. The Schoolyard LTER programme is a school based monitoring
                    example where schools collect and analyse data from weather stations provided to them by SAEON to develop projects.
                </p>
                <p>
                    Science camps offer hands-on experience opportunities to both learners and educators to engage in real science and develop scientific knowledge and skills
                    whilst interacting with role models and practising scientists. Selected learners are provided with an opportunity to participate in the annual SAEON Education Symposium,
                    where they present their school-based projects, or projects developed from SAEON/ SMCRI data, in front of their peers, teachers, education officials and other guests. Learners
                    who work on SMCRI-related topics are assisted by SMCRI staff in their preparations for the education symposium and ESKOM Science Expo for Young Scientists.
                </p>
            </div>
        </div>
    </div>
</div>
