@{
    //ViewData["Title"] = "Home Page";
}
@section MetaTags {
    <meta name="google-site-verification" content="X5PEowbP3hWPiigk5XU_VSVb79bjwBjAumMd0SnanjM" />
    <meta name="msvalidate.01" content="C8A2A99147917721302B2895028A760C" />
}

<div class="row">
    <div class="col-md text-center">
        <h2>
            <b>SMCRI</b><br />
            Shallow Marine and Coastal Research Infrastructure
        </h2>
        <h5>Managing research infrastructure for the benefit of the community</h5>
        <div>
            <img src="~/images/SMCRI Booklet-map.jpg" class="rounded img-fluid" alt="SMCRI map">
        </div>
    </div>
</div>