
@{
    ViewData["Title"] = "Algoa Bay Sentinel Site";
}

<div class="row card-row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- Carousel wrapper -->
                <div id="carouselPhotos"
                     class="carousel slide carousel-fade"
                     data-mdb-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="5" aria-label="Slide 6"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="6" aria-label="Slide 7"></button>
                    </div>
                    <!-- Inner -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-mdb-interval="2500">
                            <img src="~/Images/Algoa bay Sentinel Site_1.jpg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Algoa bay Sentinel Site_2.jpg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Algoa Bay SS_4_PlonStephanie.JPG" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Algoa Bay SS_4_PlonStephanie.JPG" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Algoa Bay SS_5_PlonStephanie.JPG" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Algoa BaySS_3_PlonStephanie.JPG" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Algoa Bay Sentinel Site_map.jpg" class="d-block w-100" alt="..." />
                        </div>
                    </div>
                    <!-- Inner -->
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    <b>@ViewBag.Title</b>
                    <img src="/Images/NRF-SAEON LOGO.jpg" class="img-fluid rounded float-right card-image" alt="SAEON logo" />
                </h4>
            </div>
            <div class="card-body">
                <p>
                    The Algoa Bay Sentinel Site (ABSS) located within the warm-temperate Agulhas Bioregion is the most comprehensive coastal observation
                    network in South Africa spanning some 300 km of coastline between Port Alfred and Oyster Bay. Established in 2008, the ABSS now comprise more than 40 in situ
                    coastal sensor moorings, 29 acoustic receivers, nine estuarine sensor moorings (temperature and salinity) and eight Pelagic Ecosystem Long-term Ecological Research
                    (PELTER) sampling stations. Submerged coastal sensors measure water temperature, the velocity and direction of currents, swell waves and gives valuable insight into how
                    the physical environment is influenced by meteorological factors like winds and rainfall. The PELTER programme was established in 2010 and involves monthly
                    sampling (~90 surveys to date) of key essential ocean (EOV) and biodiversity variables (EBV) focussed on biogeochemical and plankton dynamics in Algoa Bay.
                    Additionally, biological communities from the sandy beaches, rocky shores, subtidal reefs and islands are sampled at monthly to annual intervals. The objectives are to
                    identify spatiotemporal trends of these key variables including the factors shaping their dynamics. These data types are also useful when studying ecosystem responses to
                    periodic extreme meteorological, oceanic or biological events. Deep learning of such details not only aids the management of coastal ecosystems but also strengthens
                    our ability to estimate how these aspects may change going forward. Algoa Bay is also a dynamic socio-ecological system where a productive coastal ecosystem
                    interfaces with a vibrant socio-economic environment. As a natural socio-ecological laboratory, ABSS is thus well poised to make a meaningful contribution to regionally
                    unique research opportunities in support of the grand challenge, which is to sustainability unlock South Africa’s blue economy.
                </p>

            </div>
        </div>
    </div>
</div>
