
@{
    ViewData["Title"] = "Two Oceans Sentinel Site";
}

<div class="row card-row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- Carousel wrapper -->
                <div id="carouselPhotos"
                     class="carousel slide carousel-fade"
                     data-mdb-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <!-- Inner -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-mdb-interval="2500">
                            <img src="~/Images/False Bay_Kelp.png" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/False Bay 3.JPG" class="d-block w-100" alt="..." />
                        </div>
                    </div>
                    <!-- Inner -->
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    <b>@ViewBag.Title</b>
                    <img src="/Images/NRF-SAEON LOGO.jpg" class="img-fluid rounded float-right card-image" alt="SAEON logo"/>
                </h4>
            </div>
            <div class="card-body">
                <p>
                    The Two-Oceans Sentinel Site (TOSS), situated in the cold-temperate overlap region between the Agulhas Bioregion and the South-western Cape
                    Bioregion, is still in the development phase. It is envisaged that the site will be located between Betty’s Bay and Cape Town, incorporating False Bay and several Marine
                    Protected Areas managed by SANParks and CapeNature. The equipment and sensors to be deployed will be similar to those in the Algoa Bay Sentinel Site,
                    but the exact locations still need to be determined through a comprehensive consultative process. The activities in the TOSS will be similar to those taking place
                    Two Oceans Sentinel Site in the ABSS, except that the TOSS will also include several Kelp LTER sites. Kelp forests are highly productive, protects
                    the coast from storm surges and act as an important habitat for a range of commercially important species. Kelp is considered a good biological indicator of
                    sea surface temperature change because the geographical limits of its distribution throughout the world are closely related to the maximum summer sea surface
                    temperature. Close links have been forged by Kelp scientists in South Africa and the Santa Barbara Coastal Kelp LTER scientists in the USA as well as Australia.
                </p>
            </div>
        </div>
    </div>
</div>
