
@{
    ViewData["Title"] = "About";
}

<div class="row card-row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- Carousel wrapper -->
                <div id="carouselPhotos"
                     class="carousel slide carousel-fade"
                     data-mdb-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <!-- Inner -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-mdb-interval="2500">
                            <img src="~/Images/Diver_anywhere.jpg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Where you want_2.jpg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/SMCRI Booklet-1.jpg" class="d-block w-100" alt="..." />
                        </div>
                    </div>
                    <!-- Inner -->
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4><b>@ViewBag.Title</b></h4>
            </div>

            <div class="card-body">
                <p>
                    The Shallow Marine and Coastal Research Infrastructure (SMCRI) is one of 13 large Research Infrastructures developed by the Department of Science
                    and Technology (DST) as part of the South African Research Infrastructure Road-map (<a href="docs/SARIR booklet.pdf" target="_blank">SARIR</a>).
                    The SMCRI was established in 2016 to develop an array of instruments and physical research platforms around the coast of South Africa and its sub-antarctic
                    islands to collect long-term reliable data for scientific research to help decision makers formulate appropriate environmental policies
                    to lessen the risk and vulnerability of the coastal zone to climate and global change. The SMCRI is tapping into South Africa’s
                    geographical advantage by providing access to cutting edge research platforms and data at appropriate spatial and temporal scales in all the coastal biogeographic
                    regions from all three oceans to stimulate innovative research and IP generation that is of global relevance. SMCRI is building on the suite of observatories,
                    sentinel site and research platforms already established and maintained by the National Research Foundation’s (NRF) South AfricanEnvironmental Observation Network (SAEON)
                    and the South African Institute for Aquatic Biodiversity (SAIAB).
                </p>
                <p>
                    Key stakeholders of the SMCRI include Higher Education Institutions, Research institutes and councils, Department of Environmental Affairs (Branches: Oceans & Coasts, SAWS and SANBI),
                    Department of Water and Sanitation, Department of Agriculture, Forestry and Fisheries, Department of Basic Education, conservation agencies, NGOs, industry
                    and local & provincial government.
                </p>
            </div>
        </div>
    </div>
</div>
