
@{
    ViewData["Title"] = "Central Coordinating Unit";
}

<div class="row card-row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <!-- Carousel wrapper -->
                <div id="carouselPhotos"
                     class="carousel slide carousel-fade"
                     data-mdb-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="5" aria-label="Slide 6"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="6" aria-label="Slide 7"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="7" aria-label="Slide 8"></button>
                        <button type="button" data-mdb-target="#carouselPhotos" data-mdb-slide-to="8" aria-label="Slide 9"></button>
                    </div>
                    <!-- Inner -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-mdb-interval="2500">
                            <img src="~/Images/Team_cropped.jpg" class="d-block w-100" alt="..." />
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Where you want_4.jpg" class="d-block w-100" alt="Central Coordinating Unit">
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Central Coordinating Unit.jpg" class="d-block w-100" alt="Central Coordinating Unit">
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/CCU_6_wetlab.jpg" class="d-block w-100" alt="Central Coordinating Unit">
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/Where you want_3.jpg" class="d-block w-100" alt="Central Coordinating Unit">
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/CCU_4_AA3.jpg" class="d-block w-100" alt="Central Coordinating Unit">
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/CCU_5_mainLab.jpg" class="d-block w-100" alt="Central Coordinating Unit">
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/CCU_1_Fishtanks.jpg" class="d-block w-100" alt="Central Coordinating Unit">
                        </div>
                        <div class="carousel-item" data-mdb-interval="2500">
                            <img src="~/Images/CCU_2_OceanoWorkshop.jpg" class="d-block w-100" alt="Central Coordinating Unit">
                        </div>
                    </div>
                    <!-- Inner -->
                    <!-- Controls -->
                    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-mdb-target="#carouselPhotos" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    <b>@ViewBag.Title</b>
                    <img src="/Images/NRF-SAEON LOGO.jpg" class="img-fluid rounded float-right card-image" alt="SAEON logo" />
                </h4>
            </div>
            <div class="card-body">
                <p>
                    The SMCRI is geographically dispersed, but managed from the Central Coordinating Unit (CCU) based at the newly established Ocean Sciences Campus
                    of the Nelson Mandela University. The central location of the CCU relative to the Sentinel Sites allows for effective financial and operational management.
                    The CCU being integrated with the SAEON Elwandle Coastal Node, means that CCU personnel (oceanography and data technicians,
                    a systems developer and administrative staff) enjoy full operational support both in terms of human resources and infrastructure.
                </p>
                <p>
                    The Ocean Sciences Campus is well suited as an operational base for the CCU. Launched in October 2017 by the Nelson
                    Mandela University, the Ocean Sciences Campus is envisaged to become a nucleus for innovation, research, teaching and
                    engagement in key marine and maritime spheres. Through partnerships spanning disciplines transcending the socio-ecological
                    spectrum, much needed human capital development and new knowledge will be generated to help steer the process
                    of balancing pursuance of unlocking blue economic potential and sustainability. As a full partner in this initiative, SAEON and
                    SMCRI will be embracing these challenges in the spirit of trans-disciplinarity and innovation. In so doing, considerable
                    investment had been made by SMCRI in partnership with the university, which includes the establishment of a Marine
                    Biogeochemistry Laboratory, Sedimentology Unit, Light Microscopy Laboratory, an Oceanography Electronics Workshop and
                    significant infrastructural development in support of the Research Dive Unit.
                </p>

            </div>
        </div>
    </div>
</div>
