
@{
    ViewData["Title"] = "Contacts";
}

<div class="row card-row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    <b>Contact the Central Coordinating Unit</b>
                    <img src="/Images/NRF-SAEON LOGO.jpg" class="img-fluid rounded float-right card-image" alt="SAEON logo"/>
                </h4>
            </div>
            <div class="card-body">
                <p>
                    Ocean Sciences Campus, Nelson Mandela University<br />
                    Gomery Avenue, Summerstrand<br />
                    Port Elizabeth, 6001<br />
                    South Africa<br />
                    <i class="fas fa-phone">&nbsp;</i>+27 41 504 4750<br />
                    <i class="far fa-envelope">&nbsp;</i><a href="mailto:timpn@saeon.ac.za">timpn@saeon.ac.za</a><br />
                    <i class="fas fa-globe">&nbsp;</i><a href="https://smcri.saeon.ac.za" target="_blank">smcri.saeon.ac.za</a><br />
                    <i class="fab fa-twitter">&nbsp;</i><a href="http://twitter.com/SMCRI_ZA" target="_blank">SMCRI_ZA</a><br />
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    <b>Contact SAIAB</b>
                    <img src="~/Images/NRF-SAIAB logo.jpg" class="img-fluid rounded float-right card-image" alt="SAIAB logo"/>
                </h4>
            </div>
            <div class="card-body">
                <p>
                    South African Institute for Aquatic Biodiversity<br />
                    Somerset Street<br />
                    Grahamstown, 6139<br />
                    South Africa<br />
                    <br />
                    Private Bag 1015<br />
                    Grahamstown, 6140<br />
                    South Africa<br />
                    <br />
                    Tel:  +27 (0)46 603 5800<br />
                    Fax: +27 (0)46 603 5825<br />
                </p>
            </div>
        </div>
    </div>
</div>



