
@{
    ViewData["Title"] = "Resources";
}
<div class="row card-row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                <h4>
                    <b>@ViewBag.Title</b>
                </h4>
            </div>
            <div class="card-body">
                <ul>
                    <li> <a target="_blank" asp-area="" asp-controller="SMCRI" asp-action="LaunchVideo">Shallow Marine and Coastal Research Infrastructure (SMCRI) Launch Video</a> </li>
                    <li><a href="~/docs/SARIR booklet.pdf" target="_blank">South African Research Infrastructure Roadmap</a></li>
                    <li><a href="~/docs/DST-WHITE-PAPER-2108.pdf" target="_blank">DST White Paper on Science, Technology and Innovation</a></li>
                    <li><a href="~/docs/Ocean Sciences Financial Mail Supplement Sep 2017.pdf" target="_blank">Nelson Mandela University, Ocean Sciences Campus</a></li>
                    <li> <a target="_blank" asp-area="" asp-controller="SMCRI" asp-action="OSCVideo">Ocean Sciences at Nelson Mandela University</a> </li>
                    <li><a href="~/docs/Change is in the air.pdf" target="_blank">SAEON, Change is in the air</a></li>
                    <li><a href="~/docs/SAEON Annual Highlight Report.pdf" target="_blank">SAEON, Annual Report 2016/2017</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


