
@{
    ViewData["Title"] = "Value Chain";
}

<div class="row card-row">
    <div class="col-md text-center">
                <img src="/Images/SMCRI Booklet-value chain.jpg" class="img-fluid rounded" />
    </div>
</div>
